<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
  Button
</button>

<%= form_tag('auth/:provider/callback', method: 'post', data: {turbo: false}) do %>
  <button type='submit'>Login with Developer</button>
<% end %>
